.todo-container {
    /* max-width: 400px; */
    margin: 10px ;
    height: 100vh;
    /* width: vw; */
    padding: 20px;
    background-color: #242424;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 40px;
  }

  .todo-component{
    background-color: #d45555;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(231, 89, 89, 0.1);
    /* padding: 20px; */
    width: 280px;
    overflow: hidden;
    height: 260px;
    margin: 0px;
  }

  .todo-component:hover{
    
    overflow-y:scroll;
  }
  
  /* Hide scrollbar */
.todo-component::-webkit-scrollbar {
  width: 0; /* Set width to 0 */
}

/* Optional: Hide scrollbar track */
.todo-component::-webkit-scrollbar-track {
  background: transparent; /* Set background color to transparent */
}

.input-button-component {
  display: flex; /* Use flexbox to align items */
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}
  
  .todo-input {
    /* Add styles for the input element */
    padding: 8px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Add border radius */
    width: 60%; /* Set width to 50% of the container */
  }
  
  
  .todo-list {
    list-style: none;
    padding: 0;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .todo-text {
    flex: 1;
    margin-left: 10px;
  }
  
  .todo-text.completed {
    text-decoration: line-through;
  }
  
  .todo-button {
    margin-left: 10px;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
  }
  
  .todo-button:hover {
    background-color: #c82333;
  }
  
#span-id{
color: rgb(53, 233, 30);
}

h1{
    color: red;
}h3{
    color: white;
    margin-top: 0px;
}

h2{
  margin: 0px;
}