/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
/* 
.card {
  padding: 2em;
} */

/* .read-the-docs {
  color: #888;
} */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;/* Background color for the header */
  color: white; /* Text color */
}

.header-text {
  margin: 0; /* Remove default margin */
  font-size: 24px; /* Larger font size for the header */
}

.add-role-component {
  padding: 10px 20px; /* Padding inside the button */
  background-color: #4CAF50; /* Background color for the button */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Text size */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.add-role-component:hover {
  background-color: #45a049; /* Darker background color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

.add-role-component:focus {
  outline: none; /* Remove default focus outline */
}
